.footer {
  @apply bg-white bg-d_black-500 text-white mt-[12rem] flex flex-col items-center;
}

.footer__talk {
  @apply w-full px-6 sm:px-10 col-start-1 col-end-2 z-10 lg:max-w-[1191px] lg:justify-self-center -translate-y-1/2 sm:-translate-y-48;
}

.footer__content {
  @apply w-full px-6 sm:px-10 lg:max-w-[1111px] pt-16 flex flex-col gap-8 lg:justify-self-center -translate-y-[11rem] sm:-translate-y-48;
}

.footer__talk__imgCard__wrapper {
  @apply flex flex-col lg:flex-row lg:justify-between items-center text-center py-12 px-6 lg:px-24 lg:py-[4.5rem] gap-8 lg:gap-0;
}
.footer__talk__text__wrapper {
  @apply flex flex-col items-center lg:items-start lg:text-left gap-3;
}
.footer__talk__imgCard__wrapper > .button {
  width: 160px !important;
}
.footer__talk__text_headline {
  @apply text-footer font-medium md:w-1/3;
}
.footer__talk__text_para {
  @apply md:w-2/3;
}

.footer__nav {
  @apply flex flex-col sm:flex-row sm:justify-end items-center gap-5 sm:gap-10 w-full pt-8 sm:p-0;
}

.footer__address,
.footer__contact {
  @apply text-center opacity-50 sm:text-left;
}
.footer__address > span,
.footer__contact > span {
  @apply font-bold;
}

.footer__social {
  @apply flex flex-row gap-[1.125rem] pt-2 sm:p-0 justify-center h-6;
}
.footer__social > a > img {
  @apply w-6 min-w-max;
}

.footer__logo {
  width: 202px;
  @apply border-b border-solid border-d_white-100 pb-8 sm:border-0 sm:p-0;
}

.footer__content__img-nav {
  @apply flex flex-col gap-1 justify-center items-center sm:flex-row sm:border-b sm:border-solid sm:border-d_white-100 pb-8 sm:justify-between;
}

.footer__notes {
  @apply flex flex-col gap-10 sm:gap-4 sm:items-end sm:flex-row sm:justify-between;
}

.footer__contacts {
  @apply flex flex-col gap-4 sm:gap-12 sm:flex-row justify-start w-full;
}
