.home {
  @apply lg:max-w-[1111px] mx-auto mb-4 flex flex-col gap-40;
}

.hero {
  @apply flex flex-col lg:flex-row;
}
.hero__text {
  @apply text-center flex flex-col items-center lg:items-start lg:text-left lg:justify-center pt-20 px-6 pb-0 lg:pl-24 lg:pr-0;
}
.hero__text__headline {
  @apply text-footer font-medium mb-[0.875rem] sm:w-[33.5625rem] sm:text-5xl;
}
.hero__text__para  {
  @apply text-button mb-6 sm:w-[27.8125rem] sm:text-base;
}
.home__hero__phone {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
  background-repeat: no-repeat;
  @apply h-[28.125rem] lg:h-[40rem] w-full bg-[center_20%];
}
@media only screen and (min-width: 1024px) {
  .home__hero__phone {
    background-position: 55% 20%;
  }
}

.home__values {
  @apply flex flex-col gap-8 lg:flex-row px-6 sm:px-0 mb-40;
}
