.home {
  @apply lg:max-w-[1111px] mx-auto mb-4 flex flex-col gap-40;
}

.hero {
  @apply flex flex-col lg:flex-row;
}
.hero__text {
  @apply text-center flex flex-col items-center lg:items-start lg:text-left lg:justify-center pt-20 px-6 pb-0 lg:pl-24 lg:pr-0;
}
.hero__text__headline {
  @apply text-footer font-medium mb-[0.875rem] sm:w-[33.5625rem] sm:text-5xl;
}
.hero__text__para  {
  @apply text-button mb-6 sm:w-[27.8125rem] sm:text-base;
}
.home__hero__phone {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
  background-repeat: no-repeat;
  @apply h-[28.125rem] lg:h-[40rem] w-full bg-[center_20%];
}
@media only screen and (min-width: 1024px) {
  .home__hero__phone {
    background-position: 55% 20%;
  }
}

.home__projects {
  grid-template-rows: repeat(3, 15.625rem);
  @apply grid grid-cols-1 gap-6 lg:grid-cols-2 px-6 sm:px-0;
}
@media only screen and (min-width: 640px) {
  .home__projects {
    grid-template-rows: repeat(3, 12.5rem);
  }
}
@media only screen and (min-width: 1024px) {
  .home__projects {
    grid-template-rows: repeat(2, 19.25rem);
  }
}
.home__projects__content {
  @apply flex flex-col items-center justify-center h-full;
}
.home__projects__headline {
  @apply uppercase text-[1.75rem] font-medium;
}
.project__link {
  @apply flex flex-row gap-4 items-center uppercase text-button font-medium;
}
.home__projects__web {
  @apply lg:row-span-2;
}

.home__values {
  @apply flex flex-col gap-8 lg:flex-row px-6 sm:px-0 mb-40;
}
